{% extends "layout.html.twig" %}

{% block menu %}
    <a href="{{ path('author_index') }}">Авторы</a>
    <a href="{{ path('book_index') }}">Книги</a>
{% endblock %}

{% block content %}
    <br>
    Welcome to your new Silex Application!
{% endblock %}
